     @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
            background-color: #ffe6eb;
            color: white;
        }

        .first {
            font-weight: bold;
            font-size: 30px;
            font-family: 'Great Vibes', cursive;
            margin-right: 2px;
        }

        .card-title {
            font-family: 'Great Vibes', cursive;
            font-size: 40px;
            margin-bottom: 35px;
            margin-top: 35px;
            animation: bounce 1.5s linear infinite;
        }

         @keyframes bounce {
            0% { transform: rotatez(0deg) }
            50% { transform: rotatez(5deg) }
            70% { transform: rotatez(-5deg) }
            100% { transform: rotatez(0deg) }
        }

        .heart {
            position: absolute;
            top: -50px;
            font-size: 16px;
            color: white;
            opacity: 0.8;
            animation: fall linear infinite;
        }

        @keyframes fall {
            0% { transform: translateY(0); opacity: 1; }
            100% { transform: translateY(100vh); opacity: 0; }
        }

        .card-hearts {
            width: 80%;
            height: 75%;
            perspective: 1000px;
            cursor: pointer;
        }

        .card-inner {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: transform 0.5s ease-in-out;
            transform-style: preserve-3d;
        }

        .card-hearts.open .card-inner {
            transform: rotateY(180deg);
        }

        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #b9496b;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.8rem;
            font-family: 'Montserrat', sans-serif;
            color: white;
            backface-visibility: hidden;
            flex-direction: column;
            padding: 12%;
            line-height: 25px;
            font-weight: 650;
            overflow-y: scroll;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }


        .card-front::after {
            content: '\2665';
            font-size: 50px;
            margin-top: 10px;
        }

        .card-back {
            transform: rotateY(180deg);
            color: white;
            background-image: url('images/foto24.jpg');
            background-color: #ffaec6;
            background-blend-mode: multiply;
            background-size:contain;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 20px;
        }

        .card-back:hover {
            box-shadow: #676767 0px 0px 20px 10px;
            transition: 0.5s;
            
            
           
        }


        .signature {
            font-size: 20px;
            font-family: Arial, sans-serif;
            color: white;
        }